.idea
.vscode
__pycache__

*.db-journal

logs/
loot/
token.txt

/data/*
!/data/loot.db
!/data/tibia_database.db
!/data/tibia_worlds.json
!/data/config_template.yml
/config.yml

# Any extra cogs added, except for our example cog
extra/*.py
!/extra/example.py
!/extra/tibiammo.py

# Mkdocs built site
site/
