.idea
.vscode
__pycache__

logs/
loot/
token.txt
postgresql.txt

/data/*
!/data/loot.db
!/data/tibia_database.db
!/data/tibia_worlds.json
!/data/config_template.yml
/config.yml

# Any extra cogs added, except for our example cog
extra/*
!/extra/README.md
!/extra/example.py
!/extra/tibiammo.py

# Mkdocs built site
site/


# Virtual Environments
venv/

