.idea
.vscode
__pycache__

*.db-journal

logs/
loot/
token.txt

/data/*
!/data/loot_template.db
!/data/tibia_database.db
!/data/tibia_worlds.json
!/data/config_template.yml
/config.yml

extra/*.py
!/extra/extra.py